.block-title, .block-title-hovered {
  font-size: 18px;
  margin: 0;
  display: inline-block;
  color: inherit;
}
.block-title::after, .block-title-hovered::after, .block-title-hovered:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.4s;
}

.block-title-hovered:hover::after {
  transition: 0.4s;
  background-color: var(--secondary-color);
}