.timeline-item {
  display: flex;
  font-size: 14px;
}
.left-part {
  text-align: right;
  padding: 10px 0;
  min-width: 93px;
  max-width: 93px;
}
.right-part {
  padding: 10px 0;
}
.divider {
  position: relative;
  min-width: 50px;
}
.line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: #d6d6d6;
  width: 1px;
  height: 100%;
}
.circle {
  position: absolute;
  top: 17px;
  left: calc(50% - 7px);
  font-size: 17px;
  line-height: 15px;
  color: var(--main-color);
  background-color: #fff;
}
.date, .position {
  font-weight: 600;
  white-space: pre-line;
}
.position {
  margin-bottom: 8px;
  font-size: 16px;
}
.company, .description {
  color: #888;
  font-size: 12px;
}