@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css');

body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  --main-color: #64a9ff;
  --secondary-color: #ffb100;
  color: #333333;
  --sidebar-speed: 0.3s;
}
body, button, a {
  font-family: 'Montserrat', sans-serif;
}
button:focus {
  outline: none;
}
img {
  width: 100%;
}
input:focus, textarea:focus {
  outline: var(--main-color) solid 2px;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.page {
  padding: 50px 70px;
}
@media (max-width: 768px) {
  .page {
    padding: 50px;
  }
}
@media (max-width: 576px) {
  .page {
    padding: 30px 15px;
  }
}

.portfolio-swiper {
  max-height: 350px;
  overflow: hidden;
  display: flex;
  margin: 40px 0;
}
.portfolio-slide {
  object-fit: contain;
}
.portfolio-link {
  color: var(--main-color);
  font-size: 14px;
}